body {background-color: #CCFFFF;
	background-image: url("student.jpg"), url("student.jpg");
	background-repeat: no-repeat;
	background-position: top left, top right}

div {width:760px;
	margin:0 auto;
	border:2px double blue;
	background-color:#FFF;
	}
	
table {width: 300px;
		border: solid grey 2px;}
		
td, th {border: solid black 1px;}

h1 {color:#330066;
	text-align: center;}
	
h3 {color: #FF0000; 
	font-size:24px;
	text-align: center;}
	
div img {width:150px;
	height:140px;
	float: left;
margin-right:20px}

th {color: #CC0000;}
	
li {list-style-image: url('trillium.gif');}
	
#FirstP {text-align:center; 
	font-size: 20px	}
#YellowB {background-color:yellow;
			font-weight:bold}
	
#LetterSpacing {text-align:center; 
			letter-spacing:5px}
			
.grey {background-color:#999999;}

section p::first-letter {font-size: 3em; 
			font-style: italic; 
			font-weight: bold;
			color:#FF0000;}
	
footer {

   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efdd83), to(#efcc1a));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #efdd83, #efcc1a); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #efdd83, #efcc1a);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #efdd83, #efcc1a);

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #efdd83, #efcc1a);
}
