body {background-color: skyblue;
      color: black;
	  background-image: url("background.jpg");
      font-family: Arial, Helvitica, sans-serif;
	 }

@media only screen and (max-width: 480px)
{
    #wrapper { display: grid;
           grid-template-columns: auto;
		   grid-template-rows: auto auto auto; 
           width: 80%;
		   margin: auto;
           background-color: #90C7E3;
           box-shadow: 10px 10px 5px #888888;
            }
    
    #nav { background-color: skyblue; 
           font-size: 1.2em;
		   margin-left: 0;
           padding-left: 2px;
           text-align: left;
           font-weight: bold;
           grid-column: 1 / 2; 
           grid-row: 2 / 2;
           list-style: none;
         }
    
    h1 {color:white;
        background-color: #000033;
        font-family: Georgia, Times New Roman, serif;
        font-size: 2.5em;
        grid-column: 1 / 2; 
        grid-row: 1 / 2;
        margin-top: 0;
        margin-bottom: 0;
        padding: 2px;
	   }
    
    img {display: none;}
    
    #content { grid-column: 1 / 2;
               grid-row: 3 / 4;
               list-style-position: inside;
             }
}

@media only screen and (min-width: 481px)
{
    #wrapper { display: grid;
           grid-template-columns: 150px auto;
		   grid-template-rows: auto auto; 
           width: 80%;
		   margin: auto;
           /*min-width:960px;*/
           background-color: #90C7E3;
           box-shadow: 10px 10px 5px #888888;
            }
    
    #nav { background-color: skyblue; 
           font-size: 1.2em;
		   margin-left: 0;
           padding-left: 2px;
           text-align: left;
           font-weight: bold;
           grid-column: 1 / 2; 
           grid-row: 2 / 2;
           list-style: none;
         }
    
    h1 {color:white;
        background-color: #000033;
        font-family: Georgia, Times New Roman, serif;
        font-size: 2.5em;
        grid-column: 1 / 3; 
        grid-row: 1 / 2;
        margin-top: 0;
        margin-bottom: 0;
        padding: 2px;
        background-image: url("sunset.jpg");
        background-repeat: no-repeat;
        background-position: right;
    
	   }
    
    #content { grid-column: 2 / 3;
               grid-row: 2 / 3;
               list-style-position: inside;
             }
}

@keyframes flying
{
    from { left:0;}
    to { left:calc(100% - 68px);}
}

#bird
    {
        width:220px;
        height:50px;
        position:relative;
        /* animation part */
        /*animation: flying 10s 2s infinite alternate;*/
        animation-name: flying;
        animation-duration: 10s; 
        /*animation-delay: 2s; */
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }

#nav ul, #nav li  { margin: 0; padding: 0}

#nav a {text-decoration: none;
        color: #000033;
       }

#nav a:visited{color: #344873}

#nav a:hover {color: white;}

span { color: #000033;
          font-weight: bold;
        }

#floatleft { float: left;
            margin-right: 10px;
           }

h2 {color:#3399CC;
    font-family: Georgia, Times New Roman, serif;
    text-shadow: 2px 2px;
   }

h3 {color:#000033;
    font-family: Georgia, Times New Roman, serif;
    font-weight: bold;
   }

#nobullet {list-style: none}

#contact {font-size: 90%;}

#footer {font-size: 75%;
         font-family: Georgia, Times New Roman, Times, serif;
         font-style: italic
        }